<a href="https://colab.research.google.com/github/HariPranav/mlprog/blob/main/prog1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data=pd.read_csv("/content/drive/MyDrive/datasets/Prog1 and 2_enjoysport.csv")

data

     sky airtemp humidity    wind water forcast enjoysport
0  sunny    warm   normal  strong  warm    same        yes
1  sunny    warm     high  strong  warm    same        yes
2  rainy    cold     high  strong  warm  change         no
3  sunny    warm     high  strong  cool  change        yes

In [ ]:
# get the rows and the columns
rows=data.shape[0]
rows

4

In [ ]:
colms=data.shape[1]
colms

7

In [ ]:
# get the positive adn the negative data so use a loop
h=['0','0','0','0','0','0']
positive=[]
negative=[]

for i in range(rows):
  s=[]
  s.append(data.sky[i])
  s.append(data.airtemp[i])
  s.append(data.humidity[i])
  s.append(data.wind[i])
  s.append(data.water[i])
  s.append(data.forcast[i])
  if data.enjoysport[i]=="yes":
    positive.append(s)
  else:
    negative.append(s)
print(positive)
print(negative)

[['sunny', 'warm', 'normal', 'strong', 'warm', 'same'], ['sunny', 'warm', 'high', 'strong', 'warm', 'same'], ['sunny', 'warm', 'high', 'strong', 'cool', 'change']]
[['rainy', 'cold', 'high', 'strong', 'warm', 'change']]

In [ ]:
# check for h[j]

for i in range(len(positive)):
  for j in range(colms-1):
    if (h[j]=="0"):
     h[j]=positive[i][j]

    elif(h[j]!=positive[i][j]):
      h[j]='?'
    else:
      h[j]=positive[i][j];

print(h)

['sunny', 'warm', '?', 'strong', '?', '?']